h2{
	color:#dd7127;
}
h4{
	color:#DD2727;
}
body {
	/* background-image: url('http://crunchify.com/bg.png'); */
}
.plan .order {
    color: #323232 !important;
    background: #fff !important;
    margin-top: 25px !important;
    margin-bottom: -20px !important;
    padding: 8px 30px !important;
}

.plan .order:hover {
    color: #fff !important;
}
.plan .order:hover {
    background: #ee3b24 !important;
}

#uploadButton {
	box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 1s;
}

#uploadButton:hover {
	background-color: #FFFFFF !important;
}

.removeButton{
	border: none !important;
	background: none !important;
}
#fileNameUploaded{
	text-decoration: none !important;
	color: #79797a !important;
	cursor: default !important;
}
span.fileupload-new {
    color: #57c8f1 !important;
    text-decoration: underline !important;
}