<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds" debug="true">

	<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<charset>UTF-8</charset>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/Logs/consulting-web.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>D:/Logs/consulting-web-%d{yyyy-MM-dd}.%i.log.html</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<!-- <totalSizeCap>1GB</totalSizeCap> -->
		</rollingPolicy>
		<encoder> <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} 
			- %msg%n</pattern> </encoder>
		<!-- <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss}%thread%-5level%logger{36}%msg</pattern>
			</layout>
		</encoder> -->
	</appender>

	<logger name="org.springframework" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	
	<root level="DEBUG">
		<appender-ref ref="CONSOLE_APPENDER" />
		<appender-ref ref="FILE_APPENDER" />
	</root>

</configuration>